@mixin block($width: 80%, $titleWidth: 80%) {
  .block {
    width: $width;
    padding-left: 20px;
    .block-title {
      width: $titleWidth;
      padding: 15px;
      background-color: $darkColor;
      color: $leftBGColor;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    p {
      margin-left: 15px;
    }
  }
}
