$darkColor: #2f3640;
$leftBGColor: #d2f9f8;
$rightBGColor: #f0f0f0;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
